* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Nunito;
}

.wapper {
    padding-bottom: 30px;
    display: block;
    padding-top: 40px;
    background: #C9D6FF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.box {

    width: 33%;
    margin: 0 auto;
    padding: 30px 5px;
    box-shadow: 0px 0px 4px 4px #545a5d;
    background: #2980B9;
    border-radius: 10px;
    position: relative;
    font-size: 13px ;
    text-align: center;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.first {
    width: 90%;
    z-index: 0;
    
    margin: 10px auto;
    background-color: #053c60;
    border: 1px solid #062132;
    color: white;
    border-radius: 5px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 30px;
}

.icon i {
    font-size: 20px;
    position: absolute;
    top: 75px;
    left: 189px;
    color: white;
    z-index: 2;

}

.second {
    width: 40px;
}

input,
button {
    margin-top: 0.5rem;
}

.hidden {
    display: none;
    width: 50%;
    margin: 0 auto;
    text-align: left;
    margin-left:75px ;
    
}

.new{
    text-align: right;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.generatepassword,
.remove,
.goto {
    border-radius: 20px;
    padding: 3px 12px;
    font-weight: 600px;
    text-decoration: none;
    font-size: 13px;
    color: rgb(255, 255, 255);
    margin: 5px 0px;

    box-shadow: 0px 0px 2px 2px rgb(80, 72, 72);
}

.generatepassword {
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.generatepassword:hover {
    background: #bdc3c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: rgb(0, 0, 0);
}

.remove {

    background: #e52d27;
    margin-right: 5px;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b31217, #e52d27);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b31217, #e52d27);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.remove:hover {
    background: #F00000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DC281E, #F00000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DC281E, #F00000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white
}

.goto {
    background: #000000;
    margin-left: 5px;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f9b0f, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f9b0f, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.goto:hover {
    background: #52c234;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #061700, #52c234);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #061700, #52c234);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.anchors {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.anchors p {
    font-size: 18px;
    color: rgb(60, 12, 12);
}

.wapper2 {
    display: flex;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #bdc3c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.box2 {
    padding: 20px 20px 30px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.5);
    background: #8e9eab;
    position: relative;
    border-radius: 10px;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    flex-direction: column;

}

.box2 .anchors2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box2 .anchors2 .save,
.box2 .anchors2 .delete1 {
    text-decoration: none;
    padding: 2px 13px;
    font-size: 18px;
    box-shadow: 0 0 2px 2px rgb(102, 102, 103);
    color: rgb(255, 255, 255);
    border-radius: 2px;

}


.box2 .anchors2 .delete1 {
    background: #ED213A;
    margin-left: 5px;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.box2 .anchors2 .save {
    background: #152432;
    margin-right: 5px;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4CA1AF, #2C3E50);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.finalpassword {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 30px;
    padding: 1px 3px;
    color: white;
    border-radius: 2px;
    background: #73C8A9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #373B44, #73C8A9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #373B44, #73C8A9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.box2 .icon2 {
    position: absolute;
    top: 107.5px;
    left: 163px;
    color: white;
    padding: 3.6px 10px;
    box-shadow: 0 0 2px 2px rgb(104, 102, 102);
    border-radius: 2px;
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.finalpassword,
.anchor2 {
    margin: 10px 0;
}